@import '../assets/styles/reset.css';

.container {
  position: relative;
}

.section1 {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
  position: fixed;
}

.section1__logo {
  margin: 20px;
  width: 325px;
  height: 338px;
  flex-shrink: 0;

}

.logo__part1 {
  height: 82px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__top {
  padding-top: 16px;
}

.logo__bottom {
  padding-bottom: 16px;
}

.logo__dot {
  position: absolute;
  margin-top: -3px;
}

.logo__part2 {
  margin-left: 22px;
  margin-top: 5px;
}

.section1__title {
  color: #E63E3A;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 

  width: 140px;
  height: 44px;
  right: 0;
  position: absolute;
  margin: 20px;
}

.cover {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  margin-top: calc(100vh - 104px);
}

.section2 {
  height: 100vh;
  background-color: #E63E3A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.link__left {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.link__right {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav__icon {
  width: 79px;
  height: 51px;
  flex-shrink: 0;
}

.nav__title {
  color: #101820;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.nav__button {
  display: flex;
  width: 330px;
  height: 51px;
  padding-right: 18px;
  justify-content: flex-end;
  align-items: center;
  gap: 55px;
  flex-shrink: 0;
  background-color: #101820;
}

.button-icon-red {
  width: 44px;
  height: 44px;
}

.button-icon-dark {
  width: 24px;
  height: 24px;
}

.button-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section2__block {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.block__title {
  width: 708px;
  color: #101820;

  text-align: right;
  font-family: "Suisse Intl";
  font-size: 135px;
  font-style: normal;
  font-weight: 400;
  line-height: 96%;
  letter-spacing: -4.05px;
}

.section2__title {
  width: 318px;
  color: #101820;
  margin: 30px 20px;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.5%;
}

.section3 {
  margin-top: 139px;
  position: relative;
}

.section3__block {
   width: 1275px;
   margin: 0 0 0 20px;
   z-index: 1;
   position: absolute;
}

.section3__block-title {
  margin-bottom: 58px;
  color: #101820;
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: 96%;
}

.bsection3__block-describe {
  width: 578px;
  color: #101820;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.5%;
}

.section3__container-top {
  position: relative;
  height: 709px;
  margin: 0 20px 0;
  z-index: 0;
}

.container-top__graph {
  position: absolute;
  background-color: #E63E3A;
}

.section3__container-bottom {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0;
  align-items: end;
}

.container-bottom__graph {
  background-color: #101820;
  height: 93px; 
  margin-top: 1px;
}

.section4 {
  padding: 20px;
}

.section4__block {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 57px;
  border-top: 1px solid #E63E3A;
  border-bottom: 1px solid #E63E3A;

  padding: 10px 0 39px;
}

.section4__block-header {
  color: #E63E3A;
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 96%;
  margin-bottom: 32px;
  text-align: right;
}

.section4__block-cover {
  display: flex;
  justify-content: end;
}

.block-cover__title {
  color: #E63E3A;
  text-align: right;
  width: 440px;
  
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.section4__title {
  color: #E63E3A;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.5%;
  margin-bottom: 19px;
}

.section4__box {
  height: 650px;
  position: relative;
  overflow: hidden;
}

.box{
  width: 100%;
  height: 100%;
  position: relative;
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px 80px 40px 40px;
}

.red-bg {
  background-color: #E63E3A;
}

.dark-bg {
  background-color: #101820;
}

.red-c {
  color: #E63E3A;
}

.dark-c {
  color: #101820;
}

.box__content-number {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.box__content-header {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.box__content-description {
  color: #FFF;
  font-family: "Suisse Intl";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.5%;
  align-self: stretch;
  margin-bottom: 35px;
}

.box__content-button {
  display: flex;
  width: 235px;
  height: 51px;
  padding: 10px 30px 10px 10px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.box__content {
  width: 1015px;
}

.box__content-bottom {
 display: flex;
 justify-content: space-between;
 width: 1015px;
}

.left-position {
  position: absolute;
  z-index: 0;
}

.right-position {
  position: absolute;
  z-index: 1;
  right: calc((100% - (90% - 1015px)) * (-1));
}

.box__content-icon {
  width: 84px;
  height: 84px;
}
